__pycache__/
*.py[cod]
*.so

backups/
data/

build/
dist/
bitlockersetup.egg-info

# latex
*.aux
*.bbl
*.blg
*.listing
*.loa
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.synctex.*
*.toc
*.vrb
*.xmpi

# testing/debug data
*.raw
